*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    /*overflow: hidden;*/
    --green: hsl(135, 100%, 50%);
    --blue: hsla(218, 100%, 40%, 0.59);
    --lightblue: hsla(214, 100%, 54%, 0.7);
    --gold: hsl(49, 79%, 75%);
    --none: hsla(0, 0%, 0%, 0)
}