.container {
    height: 100%;
    min-width: 100%;
}

.container__canvas  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.field {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: red 2px solid;
    background: var(--none);
}

.field__menu    {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--blue);
    border: var(--lightblue) 1px solid;
}
.field__menu__item  {
    display: flex;
    border: yellow 1px solid;
    height: 20%;
}
.field__menu__item--image   {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#logo   {
    background-image: url("./assets/images/ijzzbloc - Copy.png");
    height: 80%;
    width: 60%;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.field__menu__item__list    {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.field__menu__item--button  {
    background: white;
    height: 50px;
    width: 60%;
    margin-top: 10%;
    background: none;
    color: var(--gold);
    border: none;
}
.field__menu__item--button:hover    {
    cursor: pointer;
}

i {
    position: relative;
    top: 4%;
    padding-right: 0.5rem;
}
