.container {
    height: 100%;
    min-width: 100%;
}

.container__canvas  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background: black;
}
.field   {
    border: 1px solid red;
    height: 100vh;
}